manifest {
    homePage = 'https://github.com/iarcbioinfo/RNAseq-fusion-nf'
    description = 'RNA-seq fusion gene discovery nextflow pipeline'
    mainScript = 'rnaseq-fusion.nf'
}

profiles {
  conda { 
		process { 
			conda = "$baseDir/environment.yml" 
		}
		conda.createTimeout = "200 min"
	}
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/rnaseq-fusion-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'iarcbioinfo/rnaseq-fusion-nf'
  }
}

process {
    process.container = 'iarcbioinfo/rnaseq-fusion-nf:dev'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-fusion-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-fusion-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-fusion-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/rnaseq-fusion-nf_dag.html"
}


